<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

        <!-- -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNrgeBzBMFdOTdEJy5Iv3M-vvXOn07LOg">
        </script>
    </head>

    <h2 style="text-align: center;">Submit and View Photo Info</h2>

    <body>

        <div class="ui two column grid stackable">
            
            <!-- left column of grid -->
            <div class="column">
                <form action="/store" enctype="multipart/form-data" method="post">

                    <div class="ui form">
                        <div class="field">
                            <label>JSON information</label>
                            <textarea name="given_json"></textarea>
                        </div>
                    </div>

                    <div><label>Photo:</label></div>
                    <div><input type="file" name="img"/></div>

                    <input class="ui small primary green button" type="submit" value="Store Picture Info">

                    <!-- login/logout button -->
                    <a class="ui small primary red button" href="{{ url|safe }}">{{ url_linktext }}</a>
                </form>
                <hr>
                <form>Picturebook name: 
                    <input value="default_picturebook" name="picturebook_name">
                    <input type="submit" value="switch">
                </form>
            </div>
            
            <!-- right column of grid -->        
            <div class="column">
                Stored Pictures
                <div id="map-canvas" style="width: auto; height: 400px;"></div>

                <script type="text/javascript">

                    var goog = new google.maps.LatLng(37.386052, -122.083851);

                    var mapOptions = {
                            center: goog,
                            zoom: 5
                    };

                    var map = new google.maps.Map(document.getElementById("map-canvas"),
                            mapOptions);

                    function initialize() {
                        
                    }

                    function add_marker(lat, lon, details) {
                        var location = new google.maps.LatLng(lat, lon);
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map,
                            title: 'YAY NEW LOCATION!!!'
                        });

                        var infowindow =  new google.maps.InfoWindow({
                            content: details
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.open(map,marker);
                        });
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);

                </script>

                <br>

                {% for image in images %}
                    <!-- add marker if there are latitude and longitude values -->
                    {% if image.lat and image.lon %}
                        {% if image.username %}
                            <script type="text/javascript"> 
                                add_marker({{image.lat}}, {{image.lon}}, "{{ image.username }} on {{ image.date }} submitted this photo:");
                                google.maps.event.addDomListener(window, 'load', add_marker);
                            </script>
                        {% else %}
                            <script type="text/javascript"> 
                                add_marker({{image.lat}}, {{image.lon}}, "Anonymous on {{ image.date }} submitted this photo:");
                                google.maps.event.addDomListener(window, 'load', add_marker);
                            </script>
                        {% endif %}
                    {% endif %}

                    <br>

                    <canvas id="canvas"></canvas>

                    <script type="text/javascript">
                        // loads the image from the base64 json image data in canvas
                        var canvas = document.getElementById('canvas');
                        var context = canvas.getContext('2d');
                        var img = new Image();
                        img.onload = function () {
                            context.drawImage(this, 0, 0, canvas.width, canvas.height);
                        }
                        img.src = "data:image/png;base64,{{image.photo}}";
                    </script>

                {% endfor %}
            </div>

        </div>
    </body>
</html>
{% endautoescape %}