<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

        <!-- -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNrgeBzBMFdOTdEJy5Iv3M-vvXOn07LOg">
        </script>
    </head>

    <body>

        <h1>Tag</h1>

        <div class="ui two column grid stackable">
            
            <!-- left column of grid -->
            <div class="column">
                <form action="/store" enctype="multipart/form-data" method="post">

                    <div class="ui form">
                        <div class="field">
                            <label>JSON information</label>
                            <textarea name="given_json"></textarea>
                        </div>
                    </div>

                    <div><label>Photo:</label></div>
                    <div><input type="file" name="img"/></div>

                    <input class="ui small primary green button" type="submit" value="Store Picture Info">

                    <!-- login/logout button -->
                    <a class="ui small primary red button" href="{{ url|safe }}">{{ url_linktext }}</a>
                </form>
                <hr>
                <form>Picturebook name: 
                    <input value="default_picturebook" name="picturebook_name">
                    <input type="submit" value="switch">
                </form>
            </div>
            
            <!-- right column of grid -->        
            <div class="column">
                Stored Pictures
                <div id="map-canvas" style="width: auto; height: 400px;"></div>

                <script type="text/javascript">

                    //original stuff
                    var goog = new google.maps.LatLng(37.386052, -122.083851);

                    var mapOptions = {
                        zoom: 6,
                        center: goog,
                        mapTypeId: 'roadmap'
                    }

                    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                    function initialize() {

                    };

                    function add_marker(lat, lon, details, photo) {
                        //alert('maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lon + '&sensor=true');
                        var geocoder = new google.maps.Geocoder();
                        var location = new google.maps.LatLng(parseFloat(lat), parseFloat(lon));
                        var infowindow = new google.maps.InfoWindow();
                        var content = details;

                        geocoder.geocode({'latLng': location}, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                if (results[1]) {
                                    content = content + ' in ' + results[1].formatted_address;
                                }
                                else {
                                    alert('No results found and the status is: ' + status);
                                }
                            }
                            else {
                                alert('Geocoder failed due to: ' + status);
                            }
                        });

                        content = content + ': <br>' + '<IMG BORDER="0" HEIGHT="150px" WIDTH="auto" ALIGN="center" SRC="'+ photo + '">';

                        var marker = new google.maps.Marker({
                            position: location,
                            map: map,
                            html: content
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.setContent(this.html);
                            infowindow.open(map,this);
                        });
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <br>
                {% for image in images %}
                    {% if image.lat and image.lon %}
                        {% if image.username %}
                            <img id="photo64" src="data:image/png;base64,{{image.photo}}"></img>

                            <script type="text/javascript">
                                /*
                                // var img = new Image();
                                // img.src = 'data:image/png;base64,{{image.photo}}';
                                */

                                // add_marker({{image.lat}}, {{image.lon}}, "{{ image.username }} on {{ image.date }} submitted this photo", img.src);

                                add_marker({{image.lat}}, {{image.lon}}, "{{ image.username }} on {{ image.date }} submitted this photo", document.getElementById("photo64").src);
                            </script>

                        {% else %}
                            <script type="text/javascript"> 
                                add_marker({{image.lat}}, {{image.lon}}, "Anonymous on {{ image.date }} submitted this photo", img.src);
                                // add_marker({{image.lat}}, {{image.lon}}, "Anonymous on {{ image.date }} submitted this photo", document.getElementById("photo64").src);
                            </script>

                        {% endif %}

                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </body>
</html>
{% endautoescape %}
